<div class="app">
  <h1 class="title">SIGN UP</h1>
  <form action="">
    <div class="block">
      <input id="inputName" type="text" placeholder="Name">
    </div>

    <div class="block">
      <select id="inputGender" class="form-control">
        <option value="MEN">MEN</option>
        <option value="FEMEN">FEMEN</option>
        <option value="HIDDEN">HIDDEN</option>
      </select>
    </div>

    <div class="block">
      <input id="inputAge" type="text" placeholder="Age">
    </div>

    <div class="block">
      <input id="inputEmail" type="text" placeholder="Email">
    </div>

    <div class="block">
      <input class="ng-valid" id="inputCity" type="text" placeholder="City">
    </div>

    <div class="block">
      <input class="ng-invalid" id="inputZip" type="text" placeholder="Zip">
    </div>

    <div class="block">
      <input id="inputReferrer" type="text" placeholder="Referrer">
    </div>

    <div class="block">
      <button class="submit">SUBMIT</button>
    </div>

    <div class="block">
      <button class="button">RESET</button>
    </div>
  </form>
</div>
