/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body{
  width: 100%;
  height: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #A9DBBE;
}

.app {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 680px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  padding-top: 20px;
  box-sizing:border-box;
  transition: .3s;
  cursor:pointer;
  padding: 30px;
}

.app:hover{
  transform: translate(-3px, -3px)
}

.title {
  text-align: center;
  color: #FF927A;
  margin: 40px 0;
}


.block {
  display:flex;
  justify-content: center;
  align-items:center;
  width: 100%;
  margin-top: 10px;
  position:relative;
  transition: .3s;
}

.block:hover{
  transform:translate(-2px,-2px)
}

input{
  box-sizing:border-box;
  padding-left: 35px;
  color: #FF927A;
  background: #F8F5F0;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  outline: none;
}

select{
  box-sizing:border-box;
  padding-left: 35px;
  color: #FF927A;
  background: #F8F5F0;
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 45px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;       /* Remove default arrow */
}

label {
  color: #FF927A;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #FF927A;
  opacity: 0.6; /* Firefox */
}

button{
  outline: none;
  cursor:pointer;
  border: none;
  color: white;
  background: #FE5631;
  margin-top: 10px;
  height: 45px;
  width: 100%;
  font-size: 18px;
  border-radius: 15px;
  transition: .3s;
}

button:hover{
  transform:translate(-2px,-2px)
}

/* for ng */
input.ng-valid::placeholder,
input.ng-valid{
  color:rgb(116, 207, 139);
}

input.ng-valid {
  border: 2px solid rgb(116, 207, 139);
}

input.ng-invalid::placeholder,
input.ng-invalid {
  color:#FE5631;
}
input.ng-invalid {
  border: 2px solid #FE5631;;
}
